<section class="new-training" fxLayout fxLayoutAlign="center">
    <form [formGroup]="workoutForm">
    <mat-card fxFlex.gt-sm="400px" fxFlex.lt-sm="95vw">
        <mat-card-title>
            Time to start a workout!
        </mat-card-title>
        <mat-card-content>
                <button type="button" mat-raised-button (click)="tryFetchingAgain()" *ngIf="!trainings">Try Again</button>
                <mat-form-field *ngIf="!isLoading && trainings">
                    <mat-select placeholder="Select Training" formControlName="workout">
                        <mat-option *ngFor="let training of trainings" [value]="training.name">
                            {{training.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div *ngIf="isLoading">
                    Loading...
                </div>
           
        </mat-card-content>
        <mat-card-actions>
            <button [disabled]="!workoutForm.valid" (click)="startWorkout()" mat-raised-button type="submit" color="primary" *ngIf="trainings">Start</button>
        </mat-card-actions>
    </mat-card>
</form>
</section>